/* @import url("./whitespace-reset.css"); */
@import url("https://fonts.googleapis.com/css?family=Rammetto+One%7CRoboto+Condensed");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

/* THEME CONTAINERS */
.light {
  background-color: white;
  color: #000;
}

.dark {
  background-color: #121212;
  color: #eee;
}

/* APP WRAPPER */
#app {
  width: 800px;
  margin: 20px auto 20px auto;
}

/* MAIN AND HEADER */
.light main,
.light header {
  background: #c4dfe6;
  color: #000;
  padding: 20px;
}

.dark main,
.dark header {
  background: #1f2a32;
  color: #ddd;
  padding: 20px;
}

/* HEADER */
.light header {
  background: #07575b;
  color: #fff;
}

.dark header {
  background: #0e3b3a;
  color: #ccc;
}

header {
  min-height: 200px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

header h1 {
  font-family: "Rammetto One", cursive;
  font-size: 26px;
  float: left;
}

header .cart {
  float: right;
  overflow: hidden;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

header h2 {
  text-align: center;
}

/* PRODUCT CARDS */
.light .product {
  background: #fff;
  color: #000;
  padding: 14px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  position: relative;
  border: 1px solid #ccc;
}

.dark .product {
  background: #2c3e50;
  color: #eee;
  padding: 14px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  position: relative;
  border: 1px solid #444;
}

h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.product p {
  margin-bottom: 3px;
}

.light .product .price {
  color: #a83850;
}

.dark .product .price {
  color: #ff6f61;
}

.product .quantity.none-left {
  color: red;
}

.product .edit-form,
.add-form {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* INPUT GROUP */
.input-group {
  padding: 5px 0 5px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* BUTTONS */
.light button {
  padding: 5px 12px 5px;
  background: #07575b;
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
}

.dark button {
  padding: 5px 12px 5px;
  background: #0e3b3a;
  color: #eee;
  border-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  display: inline-block;
}

.checkout {
  margin-top: 20px;
  float: right;
}

.light .checkout {
  background: #fff;
  color: #07575b;
}

.dark .checkout {
  background: #1f2a32;
  color: #0ddbd6;
}

button:disabled {
  background: #ccc;
  color: #fff;
  cursor: auto;
}

.actions {
  margin-top: 20px;
}

.product .delete-button {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: red;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

/* FORM */
form {
  width: 400px;
}

.input-group input {
  float: right;
}

.input-group label {
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 3px 2px;
  width: 150px;
  height: 15px;
  background: transparent;
  border: 1px solid #ccc;
  color: inherit;
}

.light input[type="text"]:focus,
.light input[type="number"]:focus {
  outline: none;
  border-color: #07575b;
}

.dark input[type="text"]:focus,
.dark input[type="number"]:focus {
  outline: none;
  border-color: #0ddbd6;
  background: #1f2a32;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* ADD FORM VISIBILITY */
.add-form h3,
.add-form form {
  display: none;
}

.add-form.visible .add-product-button {
  display: none;
}

.add-form.visible h3,
.add-form.visible form {
  display: block;
}

/* TABLE */
table td,
th {
  text-align: center;
  padding: 0 10px;
  color: inherit;
}

table td.total {
  text-align: right;
  padding-top: 20px;
}
